
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div>
        <h1>Campeonatos</h1>
        <p>
            <h3>Campeonatos antes de LIDOM</h3>
            Antes de la creación de la Liga Dominicana, varios campeonatos considerados nacionales fueron disputados en el país por los equipos de aquella época, destacando entre ellos los Tigres del Licey con dos campeonatos obtenidos en 1924 y 1929. Sin embargo, la cuenta oficial se inicia con la creación de la Liga Dominicana a partir de 1951.<br /><br />

            <h3>Nacionales</h3>
        </p>

        <table border="1">
            <tr bgcolor="#0000FF">
                <th></th>
                <th scope="col" style="color: #FEFEFE"><strong>Temporada</strong></th>
                <th scope="col" style="color: #FEFEFE"><strong>Campeon</strong></th>
                <th scope="col" style="color: #FEFEFE">Subcampeon</th>
            </tr>

            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>1</strong></th>
                <td>1951</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>2</strong></th>
                <td>1953</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>3</strong></th>
                <td>1954</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>4</strong></th>
                <td>1963-64</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>5</strong></th>
                <td>1969-70</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>6</strong></th>
                <td>1970-71</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>7</strong></th>
                <td>1972-73</td>
                <td>Tigres del Licey</td>
                <td>Estrellas Orientales</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>8</strong></th>
                <td>1973-74</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>9</strong></th>
                <td>1976-77</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>10</strong></th>
                <td>1979-80</td>
                <td>Tigres del Licey</td>
                <td>Estrellas Orientales</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>11</strong></th>
                <td>1982-83</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>12</strong></th>
                <td>1983-84</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>13</strong></th>
                <td>1984-85</td>
                <td>Tigres del Licey</td>
                <td>Toros del Este</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>14</strong></th>
                <td>1990-91</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>15</strong></th>
                <td>1993-94</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>16</strong></th>
                <td>1998-99</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>17</strong></th>
                <td>2001-02</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>18</strong></th>
                <td>2003-04</td>
                <td>Tigres del Licey</td>
                <td>Gigantes del Cibao</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>19</strong></th>
                <td>2005-06</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>20</strong></th>
                <td>2008-09</td>
                <td>Tigres del Licey</td>
                <td>Gigantes del Cibao</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>21</strong></th>
                <td>2013-14</td>
                <td>Tigres del Licey</td>
                <td>Leones del Escogido</td>
            </tr>
            <tr>
                <th scope="col" bgcolor="#0000FF" style="color: #FEFEFE"><strong>22</strong></th>
                <td>2016-17</td>
                <td>Tigres del Licey</td>
                <td>Águilas Cibaeñas</td>
            </tr>
        </table>
    </div>
</body>
</html>
