
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div>
        <h1>Los Veinte Fundadores</h1>
        <p>
            De acuerdo con nuestras investigaciones, fueron 20 deportistas los fundadores de “El Glorioso”. He aquí sus nombres.<br /><br />

            1.- Vicente María Vallejo<br />
            2.- Luis Fiallo<br />
            3.- Jacinto –Pichán- Vallejo<br />
            4.- Luis Castillo<br />
            5.- Carlos –Cuncún- Pou<br />
            6.- Salvador Piñeyro<br />
            7.- Álvaro Álvarez<br />
            8.- Ricardo Arturo –Tutú- Martínez<br />
            9.- Ángel Mieses Lajara<br />
            10.- Chichí Mueses<br />
            11.- Federico E. Fiallo<br />
            12.- Arturo -Tutulí- Perdomo<br />
            13.- Luis Vallejo de la Concha<br />
            14. – George –Geo- Pou Primet<br />
            15. – Manuel E. (Bi) Sánchez<br />
            16.- Virgilio Abreu L.<br />
            17.- Alberto Peña<br />
            18.- Arturo Nolasco<br />
            19.- Tulio H. Pina<br />
            20.- Virgilio –Niñito- Penson<br />
        </p>
</div>
</body>
</html>
