
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>El Nacimiento del Licey</h1>
        <p>
            El acontecimiento más importante desde que los dominicanos empezaron a jugar al béisbol, sucedió en 1907, cuando surgió en el escenario deportivo el glorioso club de los Tigres o Azules del Licey, el equipo de mayor fama y trascendencia en nuestra historia beisbolera.<br /><br />

            El año de 1907 es la fecha clave de su cronología, aunque la del día exacto de su fundación cambia según diversos autores. Talito Redondo dice que fue en el mes de julio pasado afirman como seguro el 7 de noviembre de 1907, en horas de la mañana, fecha en la que se celebra como la auténtica, y en la cual concentran actos, fiestas y homenajes.<br /><br />

            Vale citar algunos de los relatos y afirmaciones para conocer en parte el nacimiento del Licey y sus datos fundamentales.<br /><br />

            Queda dicho que el año de 1907 es la base cronológica del surgimiento del gran equipo conocido por los fanáticos como “El Glorioso”.<br /><br /><br />

            <h2>El relato de Enrique Santamaría</h2>

            “La noche del 15 de noviembre de 1907, a invitación de don Vicente María Vallejo y en su residencia de la calle El Conde No.85, donde luego estuvo el establecimiento de Roquito Capano, se reunieron un grupo de magnates beisboleros que ansiaban formar un club para dar la batalla a los entonces existentes “Casino” y “Vía” y luego al “Ozama” y “Nuevo Club”. (Negritas C.C).<br /><br />

            Enrique Hernández, apodado “El Indio Bravo”, un legendario lanzador de bola encendida y certero control, era la estrella máxima del “Nuevo Club” el que derrotaba fácilmente a todos sus rivales.<br /><br />
        </p>

</div>
</body>
</html>
