
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p><a href="/Home/FormularioPersonas">Registras Datos Personales.</a></p>
        <p><a href="/Home/ListadoPersonas">Listados de Personas Registradas.</a></p>
    </div>
</body>
</html>
